extends ../layout

block content
  div(class="container")
    h1.
         #{title}
    ul
        - each project, i in projects
            li
                p Name: #{project.naziv}
                p Description: #{project.opis}
                p Price: #{project.cijena}
                p Jobs: #{project.poslovi}
                p Start date: #{project.pdatum}
                p End date: #{project.zdatum}
                a(href='/projects/#{project._id}/limitedit', class="btn btn-primary") Edit
                a(href='/projects/#{project._id}', class="btn btn-primary") Show